/* GLOBAL*/
body {
font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
line-height: 32px;
}


/* HOME PAGE*/
.home header {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 6px;
	background: red;
	margin: 0 auto 0 auto;
	width: 100%;
	padding: 3% 5% 3% 5%;
}

.home nav a {
	text-decoration: none;
	color: black;
}

/*BIO PAGE*/
.bio header {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 6px;
	background: red;
	margin: 0 auto 0 auto;
	width: 100%;
	padding: 3% 5% 3% 5%;
}

.bio h2,
.bio h3 {
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}


.bio section {
	margin-top: 100px;	
	float: left;
	width: 50%;
}

}


/*STYLE TILE*/